.container{
	position: relative;
	width: 100%;
	min-height:100vh;
	display:flex;
	background: #fff173;
	transition: 0.5s;
	padding:20px;
}

.container .content{
	position: relative;
	max-width: 800px;
}

.container#blur.active{
	filter: blur(20px);	
}

a{
	position: relative;
	padding: 5px 20px;
	display: inline-block;
	margin-top:20px;
	text-decoration: none;
	
}

#popup{
	position: fixed;
	top:40%;
	left:50%;
	transform: translate(-50%, -50%);
	width: 600px;
	padding:50px;
	box-shadow: 0 5px 30px rgba(0,0,0,.30);
	background: #fff;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
	
}

#popup.active{
	top: 50%;
	visibility: visible;
	opacity: 1;
	transition: 0.5s;	
}